@import '../../styles/_variables.scss';

.header {
  background-color: $lightgrey;
  overflow: hidden;
  padding: 50px 5% 0px;
  position: relative;
}

.container {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;

  h1 {
    color: #111;
  }

  p {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: -0.02em;
  }
}

.title {
  margin-bottom: 14px;
  color: rgba(17, 17, 17, 0.57);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title_content {
  color: rgba(17, 17, 17, 0.57);
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.wrap_left {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 720px;
  margin-bottom: 60px;
  text-align: left;
}

.content_section {
  position: relative;
  overflow: hidden;
  padding: 50px 5% 100px;
  background-color: #fff;

  h3 {
    color: #111;
  }
}

.contact_grid {
  column-gap: 70px;
  grid-template-rows: auto;
}

.layout_grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.margin {
  margin-right: 5px;
}

@media all and (min-width: 767px) {
  .layout_grid {
    grid-template-columns: 1fr 1fr;
  }
}
