@import '../../styles/_variables.scss';

.container {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;

  h1 {
    color: #111;
  }

  p {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: -0.02em;
  }
}

.content_section {
  position: relative;
  overflow: hidden;
  padding: 50px 5% 100px;
  background-color: #fff;

  h3 {
    color: #111;
  }

  ul {
    padding: 0 30px;
  }
}

.contact_grid {
  column-gap: 70px;
  grid-template-rows: auto;
}

.layout_grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.margin {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .layout_grid {
    grid-template-columns: 2fr 1fr;
  }
}
