@import '../../styles/variables';

.form_item {
  display: flex;
  flex-direction: column;

  > * {
    align-self: flex-start;
    padding: 10px 0;
  }

  .form_label {
    font-weight: 600;
    margin: 0;
  }

  .form_input {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    max-width: 100%;

    /* Fix for Safari/iOs date fields */
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);

    padding: 0.8em;
    font-size: 0.9rem;

    outline: none;
    border: 1px solid $pearl;
    border-radius: 4px;
    background: $lightgrey;
    transition: background 0.25s, border-color 0.25s, color 0.25s;

    &:focus {
      background: #fff;
    }

    &::placeholder {
      color: $gray;
    }

    &.form_area {
      min-height: 250px;
    }
  }

  .form_input_error {
    color: $darkestruby;
    background: #fff;
    border-color: $darkestruby;

    &::placeholder {
      color: $ruby;
    }
  }

  .form_error {
    padding-top: 10px;
    color: $ruby;
    font-size: 0.85rem;
  }

  .form_btn {
    background: #14b64a;
    border: 2px solid #0fa942;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px 0;
    outline: none;
    padding: 10px 16px;
    width: 100%;

    &:hover {
      background: #0fa942;
    }
  }
}

.icon_margin {
  margin-right: 5px;
}
