.footer {
  background-color: #071e3d;
  color: #fff;
  font-size: 1.1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  .copyright {
    padding: 30px;
    flex-basis: 1;
    background-color: #1f4287;
  }
  .content {
    padding: 30px;
    padding-bottom: 2rem;

    .card-apply-online {
      border-radius: 5px;
    }

    .social-icons {
      margin: 0;
      padding: 0;

      ul {
        margin: 0;
        padding: 5px;

        li {
          margin: 5px;
          list-style: none outside none;
          display: inline-block;
        }
      }

      i {
        width: 40px;
        height: 40px;
        background-color: #fff;
        font-size: 22px;
        text-align: center;
        padding-top: 12px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
      i:hover {
        text-decoration: none;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }

      .fa-facebook-f {
        color: #fff;
        background: #4060a5;
      }
      .fa-twitter {
        color: #fff;
        background: #00abe3;
      }
      .fa-linkedin-in {
        color: #fff;
        background: #0094bc;
      }
      .fa-instagram {
        color: #fff;
        background: #bc2a8d;
      }
      .fa-facebook-f:hover {
        color: #4060a5;
        background: #fff;
      }
      .fa-twitter:hover {
        color: #00abe3;
        background: #fff;
      }
      .fa-linkedin-in:hover {
        color: #0094bc;
        background: #fff;
      }
      .fa-instagram:hover {
        color: #bc2a8d;
        background: #fff;
      }
    }
    p {
      font-size: 1rem;
      padding: 0.4em;
    }
  }
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (min-width: 992px) {
  .item {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (min-width: 768px) {
  footer {
    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      .item {
        flex: 32%;
        padding: 20px;
      }
    }
  }
}
