.navbar {
  position: relative;
  top: 0;
  width: 100%;
  background: #071e3d;
  padding: 5px 20px;

  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #21e6c1;
      text-decoration: none;
    }
  }
}

.react_icons {
  vertical-align: middle;
}

.logo {
  color: #fff;

  a {
    font-size: 20px;

    &:hover {
      text-decoration: none;
    }

    span {
      padding-right: 10px;
    }
  }
}

.menu li {
  font-size: 16px;
  padding: 10px 5px;
  white-space: nowrap;

  span {
    color: #fff;
    font-size: 1.4rem;
  }
}

/* Mobile menu */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.nav_item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;

  &.button {
    order: 2;
  }

  &.active {
    display: block;
  }
}

.toggle {
  cursor: pointer;
}

.button {
  width: 100%;
  display: flex;

  a {
    padding: 7.5px 30px;
    background: #278ea5;
    border: 1px #278ea5 solid;
    border-radius: 5px;
    flex-grow: 1;

    &:hover {
      text-decoration: none;
      transition: all 0.25s;
      color: #fff;
      background: #1f4287;
      border: 1px #1f4287 solid;
    }
  }
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .nav_item.button {
    width: auto;
    order: 1;
    display: block;
    padding-right: 15px;
  }

  .toggle {
    order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .nav_item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .nav_item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu {
    flex-wrap: nowrap;

    li {
      padding: 15px 10px;

      &.button {
        padding-right: 0;
      }
    }
  }
}
