/**
   * The container and the item are both
   * into flex layout. To align items
   * to each other.
   */
.btn-group-donation-type,
.btn-group-donation-type li,
.btn-group-donate-buttons,
.btn-group-donate-buttons li {
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
}
/**
   * Force to occupy the space available
   * and allow item being on several lines
   */
.btn-group-donation-type,
.btn-group-donate-buttons {
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
}
/**
   * Items tend to occupy 25% of
   * the available width but are
   * allow to grow.
   */
.btn-group-donation-type li,
.btn-group-donate-buttons li {
  flex-basis: 25%;
  flex-shrink: 0;
  flex-grow: 1;
}
.btn-group-donate-buttons li {
  cursor: pointer;
}

/**
   * The anchor is also in Flex
   * to align icon and text and
   * center their content.
   */
.btn-group-donation-type span,
.btn-group-donate-buttons span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 25px;
  padding: 1rem 0.4rem;
  font-weight: 500;
  font-size: 1.15rem;
  margin: 3px;
}

.giftaid {
  margin: 2rem 0 1rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
    font-size: 1rem;
  }

  .checkbox-container {
    font-size: 2rem;
  }

  span {
    font-size: 1.1rem;
  }

  input {
    display: none;
  }
}

.declaration {
  margin-bottom: 2rem;
  p {
    small {
      font-size: 0.9rem;
      text-align: left;
    }
  }
}

.donate {
  font-size: 1.25rem;
}

.customdonation-amount {
  display: flex;
  flex-direction: row;
  margin: 2px;

  label {
    display: flex;
    padding-top: 5px;
    justify-content: center;
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 1;
    font-size: 1.25rem;
  }

  input {
    flex-basis: 60%;
    flex-shrink: 0;
    flex-grow: 1;
  }
}
