// Greys
$lightgrey: #f2f3f4;
$grey: #6f7c80;
$darkgrey: #373d3f;
$placeholdergrey: #aab7c4;

//Body Text
$jet: #131516;
$raven: #373d3f;
$asher: #555f61;
$stone: #707c80;
$gray: #8c979a;
$sterling: #a7b0b2;
$heather: #c1c7c9;
$pearl: #dadedf;

// Dark Blue
$darkestindigo: #093145;
$darkerindigo: #0c374d;
$indigo: #0d3d56;
$lighterindigo: #3c6478;

// Light Blue
$darkestalice: #107896;
$darkeralice: #1287a8;
$alice: #1496bb;
$lighteralice: #43abc9;

// Green
$darkestkelly: #829356;
$darkerkelly: #93a661;
$kelly: #a3b86c;
$lighterkelly: #b5c689;

// Yellow
$darkestdaisy: #bca136;
$darkerdaisy: #d3b53d;
$daisy: #ebc944;
$lighterdaisy: #efd469;

// Orange
$darkestcoral: #c2571a;
$darkercoral: #da621e;
$coral: #f26d21;
$lightercoral: #f58b4c;

// Red
$darkestruby: #9a2617;
$darkerruby: #ad2a1a;
$ruby: #c02f1d;
$lighterruby: #cd594a;

//Red
$errorred: $darkerruby;
